<?xml version="1.0" encoding="utf-8"?>
<configuration>   
<connectionStrings><add name="db_tigerEntities" connectionString="metadata=res://*/Tiger.csdl|res://*/Tiger.ssdl|res://*/Tiger.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;password=hfuu;Persist Security Info=True;database=db_tiger&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>